<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>

 
  <appSettings>
    <!--http://q.stock.sohu.com/hisHq?code=cn_300127&start=20170823&end=20170823&stat=1-->
    
    
  
    <add key="URL1" value="http://vip.stock.finance.sina.com.cn/corp/go.php/vMS_MarketHistory/stockid/{0}.phtml?year=2018&amp;jidu=1"/>
    <add key="file1" value="c:\\code.txt"/>
    <add key="URL2" value="http://vip.stock.finance.sina.com.cn/corp/go.php/vMS_MarketHistory/stockid/{0}/type/S.phtml?year=2018&amp;jidu=1"/>
    <add key="file2" value="c:\\code2.txt"/>
    <add key="fileriqi1" value="2017-09-21"/>
    <add key="fileriqi2" value="2018-01-26"/>
    <add key="fileriqi3" value="2018-01-14"/>
    <add key="fileriqi4" value="2018-01-29"/>
    <add key="fileriqi5" value="2018-01-24"/>
    <add key="fileriqi6" value="2018-01-24"/>
    <add key="fileriqi7" value="2018-01-24"/>
    <add key="fileriqi8" value="2018-01-24"/>
    <add key="fileriqi9" value="2018-01-24"/>
  </appSettings>
</configuration>
