<?xml version="1.0" encoding="utf-8"?>
<ServiceProductStrategy>
  <Item type="主站首页广告" name="主站首页广告" typeId="1000">
    <Item type="主站首页广告_A" name="主站首页广告A类" mid="100" typeId="2000">
      <Item type="主站首页广告_A_A_1" name="主站首页广告A-1" mid="101" qid="102" yid="103" minSaleNumber="2" typeId="3000" />
      <Item type="主站首页广告_A_A_2_1" name="主站首页广告A-2-1" mid="104" qid="105" yid="106" minSaleNumber="1" typeId="3001" />
      <Item type="主站首页广告_A_A_2_2" name="主站首页广告A-2-2" mid="107" qid="108" yid="109" minSaleNumber="1" typeId="3002" />
      <Item type="主站首页广告_A_A_5" name="主站首页广告A-5" mid="110" qid="111" yid="112" minSaleNumber="5" typeId="3003" />
    </Item>
    <Item type="主站首页广告_B" name="主站首页广告B类" mid="113" typeId="2001">
      <Item type="主站首页广告_B_B_3" name="主站首页广告B-3" mid="114" qid="115" yid="116" minSaleNumber="3" typeId="3004" />
      <Item type="主站首页广告_B_B_4" name="主站首页广告B-4" mid="117" qid="118" yid="119" minSaleNumber="4" typeId="3005" />
    </Item>
    <Item type="主站首页广告_C" name="主站首页广告C类" mid="120" typeId="2002">
      <Item type="主站首页广告_C_C_5" name="主站首页广告C-5" mid="121" qid="122" yid="123" minSaleNumber="5" typeId="3006" />
      <Item type="主站首页广告_C_C_3" name="主站首页广告C-3" mid="124" qid="125" yid="126" minSaleNumber="4" typeId="3007" />
    </Item>
    <Item type="主站首页广告_D" name="主站首页广告D类" mid="127" typeId="2003">
      <Item type="主站首页广告_D_D_4" name="主站首页广告D-4" mid="128" qid="129" yid="130" minSaleNumber="4" typeId="3008" />
      <Item type="主站首页广告_D_D_5" name="主站首页广告D-5" mid="131" qid="132" yid="133" minSaleNumber="5" typeId="3009" />
    </Item>
  </Item>
  <Item type="行情" name="行情" typeId="1001">
    <Item type="行情_A" name="行情A类" mid="134" typeId="2004">
      <Item type="行情_A_A_1" name="行情A-1" mid="135" qid="136" yid="137" minSaleNumber="2" typeId="3010" />
      <Item type="行情_A_A_2_1" name="行情A-2-1" mid="138" qid="139" yid="140" minSaleNumber="1" typeId="3011" />
      <Item type="行情_A_A_2_2" name="行情A-2-2" mid="141" qid="142" yid="143" minSaleNumber="1" typeId="3012" />
    </Item>
    <Item type="行情_行情_B" name="行情B类" mid="144" typeId="2005">
      <Item type="行情_行情_B_行情_B_B_5" name="行情B-5" mid="145" qid="146" yid="147" minSaleNumber="5" typeId="3013" />
    </Item>
  </Item>
  <Item type="分析" name="分析" typeId="1002">
    <Item type="分析_A" name="分析A类" mid="148" typeId="2006">
      <Item type="分析_A_A_1" name="分析A-1" mid="149" qid="150" yid="151" minSaleNumber="2" typeId="3014" />
      <Item type="分析_A_A_2_1" name="分析A-2-1" mid="152" qid="153" yid="154" minSaleNumber="1" typeId="3015" />
      <Item type="分析_A_A_2_2" name="分析A-2-2" mid="155" qid="156" yid="157" minSaleNumber="1" typeId="3016" />
    </Item>
    <Item type="分析_B" name="分析B类" mid="158" typeId="2007">
      <Item type="分析_B_B_5" name="分析B-5" mid="159" qid="160" yid="161" minSaleNumber="5" typeId="3017" />
    </Item>
  </Item>
  <Item type="新闻" name="新闻" typeId="1003">
    <Item type="新闻_A" name="新闻A类" mid="162" typeId="2008">
      <Item type="新闻_A_A_1" name="新闻A-1" mid="163" qid="164" yid="165" minSaleNumber="2" typeId="3018" />
      <Item type="新闻_A_A_2_1" name="新闻A-2-1" mid="166" qid="167" yid="168" minSaleNumber="1" typeId="3019" />
      <Item type="新闻_A_A_2_2" name="新闻A-2-2" mid="169" qid="170" yid="171" minSaleNumber="1" typeId="3020" />
    </Item>
    <Item type="新闻_新闻_B" name="新闻B类" mid="172" typeId="2009">
      <Item type="新闻_新闻_B_新闻_B_B_5" name="新闻B-5" mid="173" qid="174" yid="175" minSaleNumber="5" typeId="3021" />
    </Item>
  </Item>
  <Item type="产业链" name="产业链" typeId="1004">
    <Item type="产业链_A" name="产业链A类" mid="176" typeId="2010">
      <Item type="产业链_A_A_1" name="产业链A-1" mid="177" qid="178" yid="179" minSaleNumber="2" typeId="3022" />
      <Item type="产业链_A_A_2_1" name="产业链A-2-1" mid="180" qid="181" yid="182" minSaleNumber="1" typeId="3023" />
      <Item type="产业链_A_A_2_2" name="产业链A-2-2" mid="183" qid="184" yid="185" minSaleNumber="1" typeId="3024" />
    </Item>
    <Item type="产业链_B" name="产业链B类" mid="186" typeId="2011">
      <Item type="产业链_B_B_5" name="产业链B-5" mid="187" qid="188" yid="189" minSaleNumber="5" typeId="3025" />
    </Item>
  </Item>
  <Item type="商机频道" name="商机频道" typeId="1005">
    <Item type="商机频道_商机频道_A" name="商机频道A类" mid="190" typeId="2012">
      <Item type="商机频道_A_A_1" name="商机频道A-1" mid="191" qid="192" yid="193" minSaleNumber="2" typeId="3026" />
      <Item type="商机频道_A_A_2_1" name="商机频道A-2-1" mid="194" qid="195" yid="196" minSaleNumber="1" typeId="3027" />
      <Item type="商机频道_A_A_2_2" name="商机频道A-2-2" mid="197" qid="198" yid="199" minSaleNumber="1" typeId="3028" />
    </Item>
    <Item type="商机频道_B" name="商机频道B类" mid="200" typeId="2013">
      <Item type="商机频道_B_B_5" name="商机频道B-5" mid="201" qid="202" yid="203" minSaleNumber="4" typeId="3029" />
    </Item>
    <Item type="商机频道_C" name="商机频道C类" mid="204" typeId="2014">
      <Item type="商机频道_C_C_5" name="商机频道C-5" mid="205" qid="206" yid="207" minSaleNumber="4" typeId="3030" />
    </Item>
    <Item type="商机频道_D" name="商机频道D类" mid="208" typeId="2015">
      <Item type="商机频道_商机频道_D_商机频道_D_D_5" name="商机频道D-5" mid="209" qid="210" yid="211" minSaleNumber="4" typeId="3031" />
    </Item>
  </Item>
  <Item type="网报宣传位" name="网报宣传位" typeId="1006">
    <Item type="网报宣传位_P1" name="网报宣传位-1版" mid="212" qid="213" yid="214" typeId="2016" />
    <Item type="网报宣传位_P2" name="网报宣传位-2版" mid="215" qid="216" yid="217" typeId="2017" />
    <Item type="网报宣传位_P3" name="网报宣传位-2/3版" mid="218" qid="219" yid="220" typeId="2018" />
    <Item type="网报宣传位_P4" name="网报宣传位-供求频道广告位2-3个品种" mid="221" qid="222" yid="223" typeId="2019" />
    <Item type="网报宣传位_网报宣传位_P5" name="网报宣传位-软文-500字以内" id="224" typeId="2020" />
    <Item type="网报宣传位_P6" name="网报宣传位-软文-1000字以内" id="225" typeId="2021" />
  </Item>
  <Item type="网刊宣传位" name="网刊宣传位" typeId="1007">
    <Item type="网刊宣传位_M1" name="网刊宣传位-封二/封四" mid="226" qid="227" yid="228" typeId="2022" />
    <Item type="网刊宣传位_M2" name="网刊宣传位-封三/内页" mid="229" qid="230" yid="231" typeId="2023" />
    <Item type="网刊宣传位_M3" name="网刊宣传位-内页彩页" mid="232" qid="233" yid="234" typeId="2024" />
    <Item type="网刊宣传位_M4" name="网刊宣传位-内页 M4" mid="235" qid="236" yid="237" typeId="2025" />
    <Item type="网刊宣传位_M5" name="网刊宣传位-内页 M5" mid="238" qid="239" yid="240" typeId="2026" />
    <Item type="网刊宣传位_M6" name="网刊宣传位-供求页面" mid="241" qid="242" yid="243" typeId="2027" />
  </Item>
  <Item type="市场数据" name="市场数据" typeId="1008">
    <Item type="市场数据_市场数据1" name="市场数据-四大市场、天地网默认规格" mid="244" qid="245" yid="246" typeId="2028" />
    <Item type="市场数据_市场数据2" name="市场数据-四大市场、非天地网默认规格" mid="247" qid="248" yid="249" typeId="2029" />
    <Item type="市场数据_市场数据3" name="市场数据-非四大市场、天地网默认规格" mid="250" qid="251" yid="252" typeId="2030" />
    <Item type="市场数据_市场数据4" name="市场数据-非四大市场、非天地网默认规格" mid="253" qid="254" yid="255" typeId="2031" />
  </Item>
  <Item type="产地数据" name="产地数据" typeId="1009">
    <Item type="产地数据_产地数据1" name="产地数据-天地网默认产地、天地网默认规格" mid="256" qid="257" yid="258" typeId="2032" />
    <Item type="产地数据_产地数据2" name="产地数据-天地网默认产地、非天地网默认规格" mid="259" qid="260" yid="261" typeId="2033" />
    <Item type="产地数据_产地数据3" name="产地数据-非天地网默认产地、天地网默认规格" mid="262" qid="263" yid="264" typeId="2034" />
    <Item type="产地数据_产地数据4" name="产地数据-非天地网默认产地、非天地网默认规格" mid="265" qid="266" yid="267" typeId="2035" />
  </Item>
  <Item type="报告产品" name="报告产品" typeId="1010">
    <Item type="报告产品_报告产品1" name="调研报告" id="268" typeId="2036" />
    <Item type="报告产品_报告产品2" name="可行性报告" id="269" typeId="2037" />
    <Item type="报告产品_报告产品3" name="规划报告" id="270" typeId="2038" />
    <Item type="报告产品_报告产品4" name="定制报告" id="271" typeId="2039" />
  </Item>
  <Item type="形态药材信息服务" name="形态药材信息服务" yid="272" typeId="1011">
    <Item type="形态药材信息服务_根茎频道" name="根茎频道" yid="273" typeId="2040" />
    <Item type="形态药材信息服务_籽仁频道" name="籽仁频道" yid="274" typeId="2041" />
    <Item type="形态药材信息服务_花叶草频道" name="花叶草频道" yid="275" typeId="2042" />
    <Item type="形态药材信息服务_皮藤频道" name="皮藤频道" yid="276" typeId="2043" />
    <Item type="形态药材信息服务_动矿加工频道" name="动矿加工频道" yid="277" typeId="2044" />
    <Item type="形态药材信息服务_菌脂频道" name="菌脂频道" yid="278" typeId="2045" />
  </Item>
  <Item type="特色药材信息服务" name="特色药材信息服务" yid="279" typeId="1012">
    <Item type="特色药材信息服务_滋补频道" name="滋补频道" yid="280" typeId="2046" />
    <Item type="特色药材信息服务_贵细频道" name="贵细频道" yid="281" typeId="2047" />
    <Item type="特色药材信息服务_香料频道" name="香料频道" yid="282" typeId="2048" />
    <Item type="特色药材信息服务_冷背频道" name="冷背频道" yid="283" typeId="2049" />
  </Item>
  <Item type="商机资源服务" name="商机资源服务" typeId="1013">
    <Item type="商机资源服务_搜搜药频道" name="搜搜药频道" yid="284" typeId="2050" />
  </Item>
  <Item type="资讯类" name="资讯类" typeId="1014">
    <Item type="资讯类_品种订制" name="品种资讯订制" qid="285" yid="286" typeId="2051" />
    <Item type="资讯类_品种人气分析" name="品种人气分析" qid="287" yid="288" typeId="2052" />
    <Item type="资讯类_品种供求定制" name="品种供求定制" qid="289" yid="290" typeId="2053" />
    <Item type="资讯类_邮件推送" name="邮件推送" qid="291" yid="292" typeId="2054" />
    <Item type="资讯类_手机报" name="手机报" qid="293" yid="294" typeId="2055" />
  </Item>
  <Item type="资源类" name="资源类" typeId="1015">
    <Item type="资源类_搜搜药推广" name="搜搜药推广" qid="295" yid="296" typeId="2056" />
    <Item type="资源类_大户VIP" name="大户VIP" qid="297" yid="298" typeId="2057" />
  </Item>
  <Item type="诚实通基础版套餐" name="诚实通基础版套餐" yid="299" typeId="1016" >
    <Item refType="形态药材信息服务" name="形态药材信息服务" optionalNum="1" isSelectedAll="false" typeId="2058" description="形态药材信息服务-介绍"/>
    <Item refType="特色药材信息服务" name="特色药材信息服务" optionalNum="0" isSelectedAll="false" typeId="2059" description="特色药材信息服务-介绍"/>
    <Item refType="商机资源服务" name="商机资源服务" optionalNum="0" isSelectedAll="false" typeId="2060" description="商机资源服务-介绍"/>
    <Item refType="资讯类" name="资讯类" optionalNum="3" isSelectedAll="false" typeId="2061" description="资讯类-介绍"/>
    <!--<Item refType="资源类" name="资源类" optionalNum="0" isSelectedAll="false" typeId="2062" description="资源类-介绍"/>-->
  </Item>
  <Item type="诚实通黄金版套餐" name="诚实通黄金版套餐" yid="300" typeId="1017" >
    <Item refType="形态药材信息服务" name="形态药材信息服务" optionalNum="3" isSelectedAll="false" typeId="2063" description="形态药材信息服务-介绍"/>
    <Item refType="特色药材信息服务" name="特色药材信息服务" optionalNum="0" isSelectedAll="false" typeId="2064" description="特色药材信息服务-介绍"/>
    <Item refType="商机资源服务" name="商机资源服务" optionalNum="0" isSelectedAll="true" typeId="2065" description="商机资源服务-介绍"/>
    <Item refType="资讯类" name="资讯类" optionalNum="2" isSelectedAll="false" typeId="2066" description="资讯类-介绍"/>
    <!--<Item refType="资源类" name="资源类" optionalNum="1" isSelectedAll="false" typeId="2067" description="资源类-介绍"/>-->
  </Item>
  <Item type="诚实通白金版套餐" name="诚实通白金版套餐" yid="301" typeId="1018" >
    <Item refType="形态药材信息服务" name="形态药材信息服务" optionalNum="0" isSelectedAll="true" typeId="2068" description="形态药材信息服务-介绍"/>
    <Item refType="特色药材信息服务" name="特色药材信息服务" optionalNum="1" isSelectedAll="false" typeId="2069" description="特色药材信息服务-介绍"/>
    <Item refType="商机资源服务" name="商机资源服务" optionalNum="0" isSelectedAll="true" typeId="2070" description="商机资源服务-介绍"/>
    <Item refType="资讯类" name="资讯类" optionalNum="0" isSelectedAll="true" typeId="2071" description="资讯类-介绍"/>
    <!--<Item refType="资源类" name="资源类" optionalNum="1" isSelectedAll="false" typeId="2072" description="资源类-介绍"/>-->
  </Item>
</ServiceProductStrategy>